.container{
    font-family:Arial, Helvetica, sans-serif;
    display: grid;
    width:auto;
    height:auto;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
}
.header hr{
    display:inline-block;
    width: 1px;
    height: 30px;
}
.header{
    grid-area: 1 / 1 / 2 / 6;
    width:100%;
    height: 70px;
    display:flex;
    justify-content: space-between;
    background-color: white;
    position:absolute;
}
#logo{
    display:flex;
    margin: 10px;
}
#logo_icon{
    width: 20px;
    height: 20px;
    padding: 10px;
}
#logo_script{
    height: 30px;
    width:auto;
    margin: 10px;
}
#searchbox{
    display:flex;
    justify-content: center;
    text-align: center;
    width: 300px;
    height: 30%;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    border-color:rgb(200, 200, 200);
    background-color: #f3f3f3;
    margin: 15px
}
#searchbox img{
    width:5%;
    height: auto;
    padding-right: 5px;
}
#searchbox p{
    display:flex;
    align-self:center;
    justify-content: center;
    font-size: 14px;
    color: rgb(200, 200, 200);
}
#icons{
    display:flex;
    justify-content:space-around;
    margin-right:30px;
}
#icons img{
    width: 20px;
    height: 20px;
    padding: 10px;
    margin: 5px;
}

.midsection{
    grid-area: 2 / 1 / 3 / 4;
    background-color:#eaeaea;
    height: 90vh;
    overflow:auto;
    position:relative;
    margin-top:70px;
}
@media (max-width: 1100px){
    .midsection{
        grid-area:2 /1 /4 /6;
    }
}
.main_post{
    display:flex;
    flex-direction:column;
    justify-content:flex-end;
    align-content:flex-start;
    flex-wrap:nowrap;
}
.post{
    margin:30px;
    width: 90%;
    height: 90%;
    border-style: solid 2px;
    border-color: #ccc;
    box-shadow: 0px 5px 5px rgb(221, 221, 221);
    background-color:white;
    margin-bottom:3%;
}
@media (max-width: 1100px){
    .post{
        width: 70%;
        margin-left:auto;
        margin-right:auto;
    }
}
.profile_detail{
    display:flex;
    flex-wrap:nowrap;
    height:5%;
    width:100%;
    justify-content:flex-start;
    margin:10px;
}
.profile_detail strong{
    align-self:center;
    font-size: 14px;
}
.post .profile_pic{
    border-radius: 50%;
    width: 7%;
    height: 70%;
    padding:10px;
}
.post_pic{
    width: 100%;
    height: 70%;
    object-fit: cover;
}
.left_icon{
    width: 20px;
    height: 20px;
    padding: 3px;
    margin-left: 15px;
    margin-top: 15px;
}
.right_icon{
    width: 20px;
    height: 20px;
    padding: 3px;
    margin-right: 15px;
    margin-top: 15px;
    float:right;
}
.caption{
    margin:10px;
    padding:10px;
    text-align:left;
    font-size: 14px;
}
.caption hr{
    color: rgba(224, 224, 224, 0.5);
}
.caption_id{
    display:flex;
    margin-right:10px;
}
.caption_id strong{
    align-self:center;
    margin-right:10px;
}
.caption .inactive{
    color:#ccc;
    margin-bottom:10px;
}

.suggested{
    margin:5%;
    height:25rem;
    width: 45rem;
    background-color:white;
    border-radius: 5px;
    border-color:#ccc;
}
@media (max-width: 1100px){
    .suggested{
        width:70%;
        height:50%;
        position:relative;
        margin-left:auto;
        margin-right:auto;
    }
    .suggested strong{
        font-size:12px;
    }
    .suggested p{
        font-size:10px;
    }
    .suggested .name img{
        width:20px;
        height:20px;
    }

}
.celebs{
    width:95%;
    margin-left:5%;
    margin-right: 5%;
    overflow-x:scroll;
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap;
}
.menu{
    margin-left: 5%;
    margin-top: 2%;
    width: 90%;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
}
.menu strong{
    color:#ccc;
}
.menu p{
    color:dodgerblue;
}
.profile_card{
    display:grid;
    grid-template-columns: 15vw;
    grid-template-rows: 35% 20% 20% 25%;
    width:100%;
    height:19rem;
    margin:10px;
    border-width:1px;
    border-style:solid;
    border-color:#ccc;
}
.profile_card img{
    width:4rem;
    height:4rem;
    object-fit:cover;
    border-radius:50%;
    margin-left:auto;
    margin-right:auto;
    padding:15%;
}
.profile_card .name{
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap;
    justify-content:center;
}
.name img{
    width: 30px;
    height: 30px;
    margin:0;
    padding:0;
    align-self:center;
}
.profile_card strong{
    align-self:center;
    justify-self:center;
}
.profile_card p{
    font-size: 14px;
    color:#ccc;
    align-self:start;
    margin-top:-5%;
    justify-self:center;
}
.profile_card button{
    background-color:dodgerblue;
    color:white;
    font-size:16px;
    width: 70%;
    height: 60%;
    border-radius:5px;
    justify-self:center;
}
@media (max-width: 1100px){
    .profile_card{
        padding:10px;
    }
    .name p{
        text-align:center;
        justify-self:center;
    }
}


.sidebar{
    grid-area: 2 / 4 / 3 / 6;
    background-color:#eaeaea;
    height: 90vh;
    position:relative;
    margin-top:70px;
    display:block;
}
@media (max-width: 1100px){
    .sidebar{
        display:none;
    }
}
.sidebar_content{
    height:40%;
    overflow-y:auto;
    mask-image: linear-gradient(0deg, rgba(234,234,234,0) 0%, rgba(234,234,234,1) 20%);
}
.sidebar hr{
    color:#eaeaea;
}
.user_profile_detail{
    margin:2vw;
    width:100%;
    display:grid;
    grid-template-columns: auto auto;
    grid-template-rows: 50% 50%;
    justify-content: start;
    margin:10px;
}
.user_profile_detail strong{
    grid-area: 1 / 2 / 2 / 3;
    align-self:end;
    font-size: 16px;
}
.user_profile_detail p{
    grid-area: 2 / 2 / 3 / 3;
    align-self:start;
    margin-top: 1vh;
    font-size: 14px;
    color:darkgray;
}

.user_profile_pic{
    grid-area: 1 / 1 / 3 / 2;
    width: 5vw;
    padding:1vw;
    border-radius: 50%;
}
.boundary{
    width: 80%;
    margin-left: 1vw;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
}
.boundary strong{
    color:darkgray;
}

.other_profiles{
    width: 70%;
}
.story_profile_detail{
    width:100%;
    display:grid;
    grid-template-columns: 6rem auto;
    grid-template-rows: 3rem 3rem;
    justify-content: start;
    margin-left: 2vh;
}
.story_profile_detail strong{
    grid-area: 1 / 2 / 2 / 3;
    align-self:end;
    font-size: 16px;
}
.story_profile_detail p{
    grid-area: 2 / 2 / 3 / 3;
    align-self:start;
    margin-top:5%;
    font-size: 14px;
    color:darkgray;
}
.story_profile_pic{
    grid-area: 1 / 1 / 3 / 2;
    width: 5vw;
    border-radius: 50%;
    align-content: center;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}
.gradient{
    width: 5.7vw;
    height: 5.7vw;
    border-radius:50%;
    background: linear-gradient(to right, purple, orange);
    padding:2px;
    position:relative;
    margin-top:20%;
}
.gradient_background{
    background-color:#eaeaea;
    width: 5.5vw;
    height: 5.5vw;
    border-radius: 50%;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
}
.links{
    margin:1rem;
    width:90%;
    display:flex;
    flex-wrap:wrap;
    flex-direction:row;
    align-items:center;
    color:darkgray;
}
.links span{
    align-self:flex-start;
    padding: 0.5rem;
    margin-bottom:1%;
}
.links a{
    text-decoration:none;
    color:darkgray;
}
.links a:hover{
    text-decoration:underline;
}
.links a:visited{
    text-decoration:none;
    color:darkgray;
}
p.copyright{
    color:darkgray;
    margin: 1rem;
}
