.container{
    font-family:Arial, Helvetica, sans-serif;
    display: grid;
    width:auto;
    height:auto;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
}
.header hr{
    display:inline-block;
    width: 1px;
    height: 30px;
}
.header{
    grid-area: 1 / 1 / 2 / 6;
    margin: 20px;
    width:100%;
    height: 50px;
    display:flex;
    justify-content: space-between;
    background-color: white;
}
#logo{
    display:flex;
    margin: 10px;
}
#logo_icon{
    width: 20px;
    height: 20px;
    padding: 10px;
}
#logo_script{
    height: 30px;
    width:auto;
    margin: 10px;
}
#searchbox{
    display:flex;
    justify-content: center;
    text-align: center;
    width: 300px;
    height: 50%;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    border-color:rgb(200, 200, 200);
    background-color: #eaeaea;
    margin: 15px
}
#searchbox img{
    width:5%;
    height: auto;
    padding-right: 5px;
}
#searchbox p{
    display:flex;
    align-self:center;
    justify-content: center;
    font-size: 14px;
    color: rgb(200, 200, 200);
}
#icons{
    display:flex;
    justify-content:space-around;
    margin-right:30px;
}
#icons img{
    width: 20px;
    height: 20px;
    padding: 10px;
    margin: 5px;
}

.midsection{
    grid-area: 2 / 1 / 3 / 4;
    background-color:#eaeaea;
    height: 90vh;
    overflow:auto;
}
.main_post{
    display:flex;
    flex-direction:column;
    justify-content:flex-end;
    align-content:flex-start;
    flex-wrap:nowrap;
}
.post{
    margin:30px;
    width: 90%;
    height: 90%;
    border-style: solid 2px;
    border-color: #ccc;
    box-shadow: 0px 5px 5px rgb(221, 221, 221);
    background-color:white;
    margin-bottom:3%;
}
.profile_detail{
    display:flex;
    flex-wrap:nowrap;
    height:5%;
    width:100%;
    justify-content:flex-start;
    margin:10px;
}
.profile_detail strong{
    align-self:center;
    font-size: 14px;
}
.post .profile_pic{
    border-radius: 50%;
    width: 7%;
    height: 70%;
    padding:10px;
}
.post_pic{
    width: 100%;
    height: 70%;
    object-fit: cover;
}
.left_icon{
    width: 20px;
    height: 20px;
    padding: 3px;
    margin-left: 15px;
    margin-top: 15px;
}
.right_icon{
    width: 20px;
    height: 20px;
    padding: 3px;
    margin-right: 15px;
    margin-top: 15px;
    float:right;
}
.caption{
    margin:10px;
    padding:10px;
    text-align:left;
    font-size: 14px;
}
.caption hr{
    color: rgba(224, 224, 224, 0.5);
}
.caption_id{
    display:flex;
    margin-right:10px;
}
.caption_id strong{
    align-self:center;
    margin-right:10px;
}
.caption .inactive{
    color:#ccc;
    margin-bottom:10px;
}

.sidebar{
    grid-area: 2 / 4 / 3 / 6;
    background-color:#eaeaea;
    height: 90vh;
}
.sidebar_content{
    height:50vh;
    overflow-y:auto;
}
.other_profiles{

}